.forgot-password-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.forgot-password-error {
    color: #ff4b4b;
    position: absolute;
    text-align: center;
    left: 0;
    width: 100%;
    font-size: 13px;
}

/* .registration-rememberme{
	margin-top: 27px;
} */
.forgot-password-container-main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0px 10px;
}

.forgot-password-container-main .logo {
    width: 150px;
    height: 150px;
    padding: 16px;
}

.forgot-password-container-main .logo > img {
    width: 100%;
    border-radius: 50%;
}

.forgot-password-form {
    max-width: 400px;
    padding: 1rem;
    width: 100%;
}

.forgot-password-form .label-small {
    font-size: 10px;
}

.forgot-password-form input {
    font-size: 15px;
    border: none;
    outline: 0;
}

.forgot-password-btn {
    width: 20px;
    cursor: pointer;
    margin-top: 4px;
}

.right-arrow {
    filter: opacity(0.6);
}

.right-arrow:hover {
    filter: opacity(0.9)
}

.ant-input-affix-wrapper:hover {
    border: none;
    outline: none;
}

.forgot-password-form .ant-input:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.forgot-password-form .forgot-password-form-button {
    width: 100%;
    height: 42px;
    font-size: 18px;
}

.forgot-password-footer {
    width: 100%;
    height: 100px;
    /* position: fixed;
    bottom: 0; */
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 10px 0px 0px 0px;
    flex-direction: column;
}

.forgot-password-footer p {
    margin: 0;
}

.forgot-password-footer a {
    margin-left: 8px;
    margin-right: 8px;
}

.forgot-password-footer .copyright {
    font-size: 10px;
}

.forgot-password-form .forgot-password-input-group {
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid #cecece;
    border-radius: 7px;
}

.forgot-password-form .ant-form-item {
    margin: 0;
}

.forgot-password-form .forgot-password-checkbox {
    display: flex;
    justify-content: center;
    margin-top: 27px;
}

.forgot-password-form .forgot-password-divider {
    width: 80%;
    min-width: 80%;
    margin: 0 auto;
}

.forgot-password-form .forgot-password-divider-m0 {
    margin: 0;
}

.forgot-password-form label {
    font-size: 17px;
}

.forgot-password-form .forgot-password-actions {
    margin-top: 10px;
    text-align: center;
}

.forgot-password-form .forgot-password-actions a,
p {
    line-height: 30px;
    font-size: 13px;
}

.forgot-password-title {
    font-size: 20px;
    /* font-weight: 500; */
    margin: 0 0 0 0;
    color: black;
}

.anticon-right-circle {
    cursor: pointer;
    color: #8e8e8e;
    transition: color 0.3s;
    font-size: 1.7rem;
}

.anticon-right-circle:hover {
    color: rgb(92, 92, 92);
}

.anticon-right-circle:active {
    color: rgb(92, 92, 92);
}

.ant-form-explain-holder {
    display: none;
}

@media only screen and (max-width: 600px) {

    .forgot-password-title {
        font-size: 20px;
    }

    .forgot-password-form input {
        font-size: 14px;
    }
}

@media only screen and (max-height: 500px) {
    .forgot-password-footer-container {
        display: none;
    }

}

/* Forgot password Screen */
.forgot-password-screen-message {
    text-align: center;
    margin-top: 10px;
}


.forgot-password-screen-message p {
    line-height: 20px;
}

.forgot-password-continue-box {
    margin-top: 27px;
    margin-bottom: 6px;
    text-align: center;
}

.forgot-password-continue-button {
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.022em;
    background: #0070c9 linear-gradient(#42a1ec, #0070c9);
    border: 1px solid #07c;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    min-width: 30px;
    padding: 4px 15px;
    text-align: center;
    white-space: nowrap;
}

/* Password scree */
.forgot-password-email-screen {
    max-width: 400px;
    padding: 0 1rem 1rem;
    width: 100%;
}

/* forgot-password success screen */
.forgot-password-user-screen {
    text-align: center;
}

.forgot-password-success-email {
    font-weight: bold;
}

.registration-divider {
    margin: 24px 0 10px;
}